<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navigation">
    <header>
        <a th:href="@{/DVD}" class="btn btn-md btn-info">DVD</a>
        <a th:href="@{/productAdd}" class="btn btn-md btn-success">Add a new product</a>
        <a th:href="@{/allExistingProductList}" class="btn btn-md btn-success">all Existing Product List</a>

        <a th:href="@{/dvdList}" class="btn btn-md btn-warning">dvd List</a>

        <a th:href="@{/bookList}" class="btn btn-md btn-warning">book List</a>

        <a th:href="@{/furnitureList}" class="btn btn-md btn-warning">furniture List</a>
    </header>
</div>