<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navigation">
    <header>
        <a th:href="@{/DVD}" class="btn btn-md btn-info">DVD</a>
        <a th:href="@{/dvdAdd}" class="btn btn-md btn-success">dvd Add</a>
        <a th:href="@{/dvdList}" class="btn btn-md btn-warning">dvd List</a>

        <a th:href="@{/bookAdd}" class="btn btn-md btn-success">book Add</a>
        <a th:href="@{/bookList}" class="btn btn-md btn-warning">book List</a>

        <a th:href="@{/furnitureAdd}" class="btn btn-md btn-success">furniture Add</a>
        <a th:href="@{/furnitureList}" class="btn btn-md btn-warning">furniture List</a>
    </header>
</div>