<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="panel panel-group panel-primary">
    <div class="panel-heading"> Add a new book</div>
    <div th:replace="fragments/navigationAddForm :: navigationAddForm"></div>
    <form th:action="@{'/bookAdd/'}"
    method="POST"><br>
        Name <input id="bookName" type="text" name="bookName" placeholder="book Name"> <br><br>
        Price <input id="bookPrice" type="number" step="any" name="bookPrice" placeholder="Price (format 0.00)"> $
        <br><br>




        Weight <input id="bookWeight" type="number" step="any" name="bookWeight" placeholder="Weight (format 0.000)"> (kg) <br><br>
        <button type="submit" class="registerbtn btn btn-md btn-warning">Confirm</button>
        <br><br>
    </form>

</div>
</body>
</html>