<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="panel panel-group panel-primary">
    <div class="panel-heading"> dvdAdd</div>
    <form th:action="@{'/dvdAdd/'}"
          method="POST">
        dvd Name <input id="dvdName" type="text" name="dvdName" placeholder="dvd Name"> <br>
        dvd Price <input id="dvdPrice" type="number"  step="any" name="dvdPrice" placeholder="dvd Price"> <br>

        Type switcher:
        <a th:href="@{/DVD}" class="btn btn-md btn-info">DVD-disc</a>
        <a th:href="@{/DVD}" class="btn btn-md btn-info">Book</a>
        <a th:href="@{/DVD}" class="btn btn-md btn-info">Furniture</a> <br>

        dvd Name <input id="dvdSize" type="text" name="dvdSize" placeholder="dvd Size"> <br>
        <button type="submit" class="registerbtn btn btn-md btn-warning">submit</button>
        <br><br>
    </form>

</div>
</body>
</html>