<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="panel panel-group panel-primary">

    <div class="panel-heading"> Furniture List</div>
    <span th:if="${errorDeleteFurnitureAll}" th:text="${errorDeleteFurnitureAll}" class="alert alert-danger"></span>
    <form th:action="@{'/deleteFurnitureAll/'}"
          method="GET">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th>
                    <input type="checkbox" id="checkBoxAll" onClick="toggleFurniture(this)"> all
                    <button type="submit" class="registerbtn btn btn-md btn-danger">delete selected
                    </button>
                </th>

                <th scope="col"> furniture Name</th>
                <th scope="col"> price $</th>
                <th scope="col"> Dimensions (height, width, length )</th>
                <th scope="col"> action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="furniture : ${furnitures}" class="table">
                <th th:text="${furniture.id}" scope="col"></th>
                <td><input type="checkbox" class="check-box" th:value="${furniture.id}" name="checkboxFurniture"></td>
                <th th:text="${furniture.furnitureName}" scope="col"></th>
                <th th:text="${furniture.furniturePrice}" scope="col"></th>
                <th scope="col">
                    <th:block>
                        <p th:text="${furniture.furnitureHeight}"></p>
                        <p th:text="${furniture.furnitureWidth}"></p>
                        <p th:text="${furniture.furnitureLength}"></p>
                    </th:block>
                </th>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>