<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="panel panel-group panel-primary">

    <div class="panel-heading"> Furniture List</div>
    <span th:if="${errorDeleteFurniture}" th:text="${errorDeleteFurniture}" class="alert alert-danger"></span>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col"> furniture Name</th>
            <th scope="col"> price $</th>
            <th scope="col"> Dimensions (height, width, length )</th>
            <th scope="col"> action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="furniture : ${furnitures}" class="table">
            <th th:text="${furniture.id}" scope="col"></th>
            <th th:text="${furniture.furnitureName}" scope="col"></th>
            <th th:text="${furniture.furniturePrice}" scope="col"></th>
            <th scope="col">
                <th:block>
                    <p th:text="${furniture.furnitureHeight}"></p>
                    <p th:text="${furniture.furnitureWidth}"></p>
                    <p th:text="${furniture.furnitureLength}"></p>
                </th:block>
            </th>
            <td>
                <form th:action="@{'/deleteFurniture/'+ ${furniture.id}}"
                      method="GET">
                    <input type="hidden" name="id" th:value="${furniture.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-danger"> delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>